
:80
tls off
gzip
root /var/www/html
ext .html
basicauth /reports2 cncflora cncflora250

proxy /portal portal {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /portal
}

proxy /elasticsearch elasticsearch:9200 {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /elasticsearch
}

proxy /couchdb couchdb:5984 {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /couchdb
}

proxy /kibana kibana {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /kibana
}

proxy /floradata floradata {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /floradata
}

proxy /aka aka:8080 {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /aka
}

proxy /services services {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /services
}

proxy /portal portal {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /portal
}

proxy /entrypoint entrypoint {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /entrypoint
}

proxy /connect connect {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /connect
}

proxy /checklist checklist {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /checklist
}

proxy /dwc_services dwc_services {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /dwc_services
}

proxy /occurrences occurrences {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /occurrences
}

proxy /assessments assessments {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /assessments
}

proxy /profiles profiles {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /profiles
}

proxy /reports2 reports2 {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /reports2
}

proxy /migrator migrator {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /migrator
}

proxy /arquivos arquivos {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /arquivos
}

proxy /plataforma2 plataforma2 {
  header_upstream Host {host}
  header_upstream X-Real-IP {remote}
  header_upstream X-Forwarded-Proto {scheme}
  without /plataforma2
}
